.bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vw;
}

.bio img {
  margin-top: 115px;
  margin-bottom: 3vw;
  width: 500px;
  height: 500px;
}

.bio p {
  color: #490000;
  background: radial-gradient(#fff0d998, rgba(255, 0, 0, 0));
}
.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(#fff0d998, rgba(255, 0, 0, 0));
}

.bioimageframe {
  background: url("../Assets/pngkey.com-baby-border-png-2957680.png");
  background-size: contain;
  background-position-y: center;
  background-position-x: center;
  width: 730px;
  height: 730px;
  box-shadow: -15px 15px 40px rgba(68, 31, 0, 0.819);
}

.bioimageframe:hover {
  cursor: pointer;
}
