.children-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  /* border-radius: 2vw; */
}

.parents-div {
  display: flex;
  justify-content: space-evenly;
}

.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  /* border-top: 1px solid black;
  border-bottom: 1px solid black; */
  background: radial-gradient(#ffc0a300, #662b0f78);
  /* border-radius: 2vw; */
}

.person img:hover {
  transform: scale(1);
  border: 2px solid rgb(107, 0, 0);
  border-radius: 5%;
  cursor: initial;
}

.person img {
  width: 300px;
  height: 300px;
}

.tree-div {
  width: 100vw;
  padding-bottom: 5vh;
}

.person h2,
h3,
h4 {
  text-shadow: -5px 5px 15px rgb(255, 239, 229);
  background: rgba(255, 230, 210, 0.171);
}
