.App {
  text-align: center;
  background-color: rgb(32, 16, 16);
  font-family: cursive;
}

.App-header {
  background-image: linear-gradient(
      rgba(255, 249, 172, 0.3),
      rgba(255, 190, 170, 0.3)
    ),
    url("https://floridaimaginationstation.com/wp-content/uploads/2018/05/old-paper-texture-wallpaper-49224-50886-hd-wallpapers-1.jpg");
  background-size: contain;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* padding: 5% 0; */
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* background: red; */
  width: 100%;
  background: radial-gradient(#ffc0a300, #662b0f78);
  padding-top: 5vh;
}

h1 {
  font-size: 4rem;
  background: -webkit-linear-gradient(#7a0000, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {
  font-size: 2rem;
  text-decoration: none;
  background: -webkit-linear-gradient(#7a0000, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 0.5vw;
  padding: 1vw;
  box-shadow: 4px 2px rgb(107, 0, 0);
}

a:hover {
  text-shadow: 1px 1px cornsilk;
}

h4 {
  font-size: 2rem;
  text-decoration: none;
  background: -webkit-linear-gradient(#7a0000, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h4:hover {
  background: -webkit-linear-gradient(#7a0000, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 1px cornsilk;
  cursor: pointer;
}

img {
  border: 2px solid rgb(107, 0, 0);
  width: 200px;
  height: 200px;
  border-radius: 5%;
  filter: sepia(1);
  object-fit: cover;
}

img:hover {
  border: 2px solid rgb(255, 237, 231);
  transform: scale(1.1);
  transition: 1s;
  border-radius: 10%;
  cursor: pointer;
}

h3 {
  font-size: 2rem;
  background: -webkit-linear-gradient(#7a0000, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: 3rem;
  background: -webkit-linear-gradient(#7a0000, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0;
  margin: 0;
}

button {
  font-family: cursive;
  color: cornsilk;
  font-size: 1rem;
  background: linear-gradient(to bottom right, #7a0000, black);
  border: none;
  padding: 10px;
  width: 10vw;
  border-radius: 0.5vw;
}

button:hover {
  background: linear-gradient(to bottom right, black, #7a0000);
  cursor: pointer;
}
