.App {
  text-align: center;
  background-color: rgb(32, 16, 16);
  font-family: serif;
}

.App-header {
  background-image: linear-gradient(
      rgba(255, 249, 172, 0.3),
      rgba(255, 208, 170, 0.3)
    ),
    url("https://st.depositphotos.com/2071131/2133/i/950/depositphotos_21333645-stock-photo-canvas-background.jpg");
  background-size: contain;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* padding: 5% 0; */
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* background: red; */
  width: 100%;
  background-image: radial-gradient(#fffaf34b, rgba(0, 0, 0, 0.246)),
    url("https://www.adobe.com/express/create/photo-collage/media_1fa724edcc47f49cf0d498653be973c816795eff3.png?width=2000&format=webply&optimize=medium");
  padding-top: 5vh;
  opacity: 0.9;
}

h1 {
  font-size: 5rem;
  color: #490000;
  padding: 3vw 10vw;
  border-radius: 5vw;
  text-shadow: -5px 5px 20px white;
}

h4 {
  font-size: 1.5rem;
  text-decoration: none;
  color: #490000;
}

h4:hover {
  background: -webkit-linear-gradient(#7a0000, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 1px rgb(255, 245, 231);
  cursor: pointer;
}

img {
  /* border: 2px solid rgb(107, 0, 0); */
  width: 200px;
  height: 200px;
  /* border-radius: 5%; */
  object-fit: cover;
}

img:hover {
  /* border: 2px solid rgb(255, 245, 231); */
  /* transform: scale(1.1);
  transition: 1s; */
  /* border-radius: 10%; */
  cursor: pointer;
}

h3 {
  font-size: 2rem;
  margin: 1vw;
  color: #490000;
  background: radial-gradient(#fff0d998, rgba(255, 0, 0, 0));
  padding: 1vw;
}

h2 {
  font-size: 2.5rem;
  color: #490000;
  background: radial-gradient(#fff0d998, rgba(255, 0, 0, 0));
  padding: 1vw;
  margin: 3vw;
}

a {
  color: cornsilk;
  text-decoration: none;
  font-size: 0.8rem;
  background: linear-gradient(to bottom right, #7a0000, rgb(46, 0, 0));
  border: none;
  padding: 0.5vw 1.5vw;
  border-radius: 0.5vw;
  width: 30%;
}

a:hover {
  background: linear-gradient(to bottom right, rgb(46, 0, 0), #7a0000);
}

button {
  font-size: 1rem;
  margin: 3vh;
  padding: 0.4vw 2vw;
  border-radius: 0.5vw;
  color: #490000;
  background: linear-gradient(#ffcfa385, #662b0f78);
  border: 2px solid #490000;
}

button:hover {
  cursor: pointer;
  background: linear-gradient(#662b0f78, #ffcfa385);
}
